*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
.container{
    position: relative;
    width: 100%;
    height: max-content;
    margin: 5%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
.container h2{
    font-size: 60px;
    font-weight: 600;
    position: relative;
    margin-top: 20px;
    margin-bottom: 5%;
    margin-left: 20px;
    text-align: center;
}
.container h2::after{
    content: '';
    position: absolute;
    left: 500px;
    bottom: 0;
    height: 3px;
    width: 275px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
.container .welcome-message h3{
    font-size: 30px;
    font-weight: 600;
    margin-left: 8.5%;
    margin-bottom: 5%;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
.nav-link {
    display: block;
    padding: .5rem 1rem;
    color: #71b7e6;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
    font-size: 20px;
}
.nav {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
    list-style: none;
    margin-left: 100px;
}
.row{
    padding-top: 10%;
}
.product-top img{
    width: 200px;
    height: 300px;
}
.product-bottom i{
    color: #28a745;
    font-size: 10px;
}
.product-bottom h3{
    font-size: 20px;
    font-weight: bold;
}
.product-bottom h5{
    font-size: 15px;
    padding-bottom: 10px;
}
.overlay{
    margin-top: 4% ;
    justify-content: space-between;
}
.overlay .fa-regular{
    cursor: pointer;
    color: black ;
    font-size: 20px ;
}
.overlay .btn{
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
.overlay .btn:hover{
    background: linear-gradient(-135deg, #71b7e6, #9b59b6);
}
@media screen and (max-width: 768px)
{ .row
{flex-direction: column;} }
