.sub-container{
    position: relative;
    max-width: 1400px;
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    margin: 20px;
}
.sub-container h3{
    font-size: 30px;
    font-weight: 500;
    position: relative;
    margin-bottom: 30px;
}

.sub-container h3::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
